################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/PFAI/.vs/PFAI/copilot-chat/0165cb87/sessions
/PFAI/.vs/PFAI/CopilotIndices/17.13.430.18484
/PFAI/.vs/PFAI/FileContentIndex
/PFAI/.vs/PFAI/v17/ipch/AutoPCH/10c6e6bc9161e71f
/PFAI/.vs/PFAI/v17/ipch/AutoPCH/15a7679c7dc8c8ad
/PFAI/.vs/PFAI/v17/ipch/AutoPCH/18bded0df6c9fa37
/PFAI/.vs/PFAI/v17/ipch/AutoPCH/1eb89f05f9d69caa
*.ipch
/PFAI/.vs/PFAI/v17/ipch/AutoPCH/67b843f7cfc391bb/TABLE_ALL_IMPL.ipch
/PFAI/.vs/PFAI/v17/ipch/AutoPCH/6d49aa8d4dd4d3cb/SOL_ASSERT.ipch
/PFAI/.vs/PFAI/v17/ipch/AutoPCH/acf052c2985ba07d/PUBLIC.ipch
/PFAI/.vs/PFAI/v17
/.vs
